<ion-view title="Messages">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" ng-click="openModal()"></button>
  </ion-nav-buttons>


  <ion-content>
    <ion-list>
      <ion-item ng-repeat="message in messages" href="#/app/specialties/{{specialty.id}}" class="item-icon-right">        
        {{message.get('text')}}
        <i class="icon ion-ios-arrow-forward"></i>  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
