<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Message</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <textarea rows="4" ng-model="messageData.text"></textarea>          
        </label>
        <div class="item">          
          <button class="button button-calm icon ion-camera" ng-click="imageSelect()"></button>
          <button class="button button-calm icon ion-mic-a" ng-click="audioSelect()"></button>
          <button class="button button-calm icon ion-record" ng-style="emergencyStyle" ng-click="toggleEmergency()"></button>
          <button class="button button-calm" ng-click="broadcast()" style="position: absolute; right: 10px" ng-disabled="!messageData.text">Send</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
