<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Message</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSendMessage()">
      <div class="list">
        <label class="item item-input">
          <textarea rows="4" ng-model="messageData.text"></textarea>          
        </label>
        <label class="item">
          <button class="button button-calm" type="submit">Send</button><button class="button button-calm icon ion-camera" ng-click="addPhoto()"></button>


        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
