<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegisterModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item" style="color: red">
          {{registrationError.message}}
        </label>        
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="registrationData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="registrationData.fullName">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone Number</span>
          <input type="text" ng-model="registrationData.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">Address</span>
          <input type="text" ng-model="registrationData.address">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="registrationData.email">
        </label>          
        <label class="item item-input">
          <span class="input-label">Type of Medical Degree</span>
          <input type="text" ng-model="registrationData.degree">
        </label>
        <label class="item item-input">
          <span class="input-label">University</span>
          <input type="text" ng-model="registrationData.university">
        </label>
        <label class="item item-input">
          <span class="input-label">Place of Work</span>
          <input type="text" ng-model="registrationData.work">
        </label>
        <label class="item">
          <button class="input-label button button-calm" ng-click="imageSelect()">Select Diploma</button>
          <img width="100" height="100" ng-src="{{registrationData.diploma}}" class="center"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registrationData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="registrationData.password2">
        </label>          
        <label class="item">
          <button class="button button-block button-calm" ng-click="doRegister()">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
