<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Specialty</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <ion-list>
          <ion-item ng-repeat="s in specialties" class="item-button-right">
              {{s.get('title')}}
              <button class="button button-calm" ng-click="addItem(s)">
                <i class="icon ion-plus"></i>
              </button>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-modal-view>
