<ion-view title="Members">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    
  <ion-nav-buttons side="right">
      <button class="button button-calm">Broadcast</button>
  </ion-nav-buttons>    
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="member in members" href="#/app/specialties/{{specialty.id}}" class="item-icon-right item-avatar">
        <img ng-src="{{member.get('profileImage').url()}}" width="75" height="75"/>  
        {{member.get('fullName')}}
        <i class="icon ion-ios-arrow-forward"></i>  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
