<ion-view>
    <!--
    <ion-header-bar class="bar-royal">
        <h1 class="title">Medifam</h1>
    </ion-header-bar>
    -->
    <ion-content id="welcome">
        <!-- <img src="img/medifam_welcome.jpg" class="center"/> -->
        <!--
        <h1>
            <span style="color: black">Medi</span><span style="color: red">Fam</span>
        </h1>
        -->
        <div class="row row-center" ng-style="myStyle">
            <div class="col">
                <button class="center button button-calm" ng-click="login()">Login</button>
                <span class="center" style="width: 20px">or</span> 
                <button class="center button button-calm" ng-click="register()">Register</button>        
            </div>    
        </div>

    </ion-content>
</ion-view>