/* Empty. Add your own CSS if you like */

body {
  background-color: aliceblue; 
}

#welcome {
  
	background-image: url('img/medifam_welcome.jpg');  
	background-color: white; 
	background-size: 360px;
	background-repeat: no-repeat; 
  background-position: center top; 

}

#welcome h1 {

  
  text-align: center; 
  font-family: cursive;
  color: green;
  font-size: 72px; 
  
}

.center {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/*
.bar .title {
    font-family: cursive;
}*/ 

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);    
}

.left-margin {
  margin-left: 25%; 
}

.right-margin {
  margin-right: 25%; 
}

.red-style {
  border-top: solid 10px red; 
}

.yellow-style {
 border-top: solid 10px yellow;  
}


